
body {
    background-color: rgb(155, 204, 247);
}

h1 {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #ffffff
}

a {
    color: #020202;
}
/* home css */

.home-body {
    text-align: center;
}

/* fahren css */

#myNumber {
   margin: 2%;
}